* {
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myCanvas {
  border: 1px solid black;
  margin: auto 0;
}
